<h1>Search for a Movie!</h1>

<form action="/search" method="GET">
    <input placeholder="search" type="text" name="searchTerm" />
    <input placeholder="name" type="text" name="name" />
    <input type="submit" />
</form>